BODY
{
	color: #3D3D3D
	background: #DDDDDD;
	background-repeat: repeat;
	borderStyle: none;
	text-align: justify;
	font-family: Verdana;
}

P
{
	color: #3D3D3D
	font-size: 10pt;
	margin-top: 5px;
	margin-bottom: 5px;
}

P.cl1
{
	color: #3D3D3D
	margin-top: 3px;
	margin-bottom: 3px;
}

OL
{
	color: #3D3D3D
	font-size: 10pt;
	margin-top: 2px;
	margin-bottom: 3px;
}

H1{
	color: #3D3D3D
	font-family: Verdana;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 20pt;
	margin-top: 3px;
	margin-bottom: 5px;
}

H2{
	color: #3D3D3D
	font-family: Verdana;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 16pt;
	margin-top: 10px;
	margin-bottom: 5px;
}

table.cabletable {
	color: #3D3D3D
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;

}

table.cabletable td {
	color: #3D3D3D
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
}

A
{
	color: #4080FF;
}
A:link
{
	color: #4080FF;
}
A:active
{
	color: #4080FF;
}
A:hover
{
	color: #4080FF;
}
A:visited
{
	color: #4080FF;
}