.spinnerarea {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(250%, 0);
}

.tableTd_title{
  font-size: 1rem;
}
.tableTd_name{
  font-size: 1.3rem;
  font-weight: 700;
}
.floatingbutton {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  right: 2rem;
  bottom: 2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}
.tableSp{
  width: 10rem;
  color: green;
}
.tableSpV{
  color: green;
}

.tableTh{
  font-weight: bold;
}
.tableTd, .tableTh, .tableTd_name, .tableTd_title{
  padding: .1rem .5rem;
}

.spinnerarea_deatails{
  z-index: 9999;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 160px;
}

.not_found{
  color: rgb(124, 3, 3);
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.not_selected{
  text-align: center;
  color: rgb(126, 1, 1);
  font-weight: bold;
  padding: 2rem;
}
.container{
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .some-class {
      left: 50%;
    }
    .floatingbutton {
      width: 50px;
      height: 50px;
    }
  }
  
  @media (max-width: 1200px) {
    .spinnerarea {
    transform: translate(-50%, 0);
    }
  }